@page "/develop/database"
@using GeneralCommon.Dtos.Admin.DataBase

@using BlazorShared.Layout
@using BlazorShared.Components.DataTable

@using GeneralCommon.Extensions

@using GeneralCommon.Attributes
@attribute [Page("/develop/database","数据管理","")]


@attribute [Authorize]



@inherits CultureComponentBase
@layout MainLayout
@inject MasaBlazor MasaBlazor


<AppDataTable @ref="_table" TItem="DbColumnOutput" SearchItem="DbSearchInput"
              AddItem="DbColumnOutput" EditItem="DbColumnOutput" SearchModel="@SearchInput"
                              AddCall="AddCall" EditCall="EditCall" DeleteCall="DeleteCall"
                              EditShowCall="EditShowCall"
                              QueryListCall="QueryListCall"
                              IsShowClearSearch
                              SearchItemFilter="SearchFilter"
                            
                              ShowSelect=false
                              ShowQueryButton
                              ShowDetailButton
                              ShowAddButton
                              ShowDeleteButton
                              ShowEditButton
                                    IsShowSearchKey>



    <SearchTemplate>
        <MSelect Style="max-width:200px;" ValueChanged="DbChanged"
                 TValue="string"
                 TItem="string"
                 TItemValue="string"
                 Items="Dbs"
                 ItemText="u => u"
                 ItemValue="u => u"
                 Label="库名"
                  Clearable>
        </MSelect>

        <MSelect Style="max-width:200px;" ValueChanged="TableChanged"
                 TValue="string"
                 TItem="DbTableInfo"
                 TItemValue="string"
                 Items="Tables"
                 ItemText="u => u.Name +u.Description"
                 ItemValue="u => u.Name"
                 Label="表名"
                  Clearable>
            <PrependItemContent>
                <MTextField Clearable TValue="string"
                            ClearIcon="mdi-close-circle"
                            Class="task-search mx-4"
                            HideDetails=true
                            Placeholder="表名称" ValueChanged="SearchTableChanged">


                </MTextField>
                <MDivider Class="mt-2"></MDivider>
            </PrependItemContent>
            </MSelect>
    </SearchTemplate>

    <AddPropertyTemplate>

            @if (context.Item2 == nameof(DbColumnOutput.DataType))
        {
            <MSelect Style="max-width:200px;" TItem="string" TValue="string" TItemValue="string"
                 Items="DataTypes"
                 ItemText="u => u"
                 ItemValue="u => u"
                 @bind-Value="context.Item1.DataType"
                      Clearable>
        </MSelect>
            context.Item1.IsRender = true;
        }
       
    </AddPropertyTemplate>

    <EditPropertyTemplate>
        @if (context.Item2 == nameof(DbColumnOutput.DataType))
        {
            <MSelect Style="max-width:200px;" TItem="string" TValue="string" TItemValue="string"
                 Items="DataTypes"
                 ItemText="u => u"
                 ItemValue="u => u"
                 @bind-Value="context.Item1.DataType"
                      Clearable>
        </MSelect>
            context.Item1.IsRender = true;
        }
    </EditPropertyTemplate>

    <OtherToolbarTemplate>
        <MButton Color="info" Class="mx-2 my-1" OnClick="()=>TableAddDialog=true">增加表</MButton>
        <MButton Color="info" Class="mx-2 my-1" OnClick="()=>TableEditDialog=true">编辑表</MButton>
        <MButton Color="error" Class="mx-2 my-1" OnClick="DeleteTable">删除表</MButton>
        <MButton Color="info" Class="mx-2 my-1" OnClick="CreateEntity">生成实体</MButton>
    </OtherToolbarTemplate>

  



</AppDataTable>

<MDialog @bind-Value="TableEditDialog" Persistent
         MaxWidth="800">
    <MCard>
        <MCardTitle>
            <span class="text-h5">请编辑表</span>
        </MCardTitle>

        <MCardText>
            <MContainer>

                <MTextField 
                            Solo
                            Dense HideDetails=true Class="mx-2 my-1" TValue="string" @bind-Value="_selectTable.Name" Label="表名"
                            Outlined />
                <MTextField Solo
                            Dense HideDetails=true Class="mx-2 my-1" TValue="string" @bind-Value="_selectTable.Description" Label="描述"
                            Outlined />

            </MContainer>
        </MCardText>

        <MCardActions>
            <MSpacer></MSpacer>
            <MButton Color="blue darken-1"
                     Text
                     OnClick="()=>TableEditDialog=false">
                关闭
            </MButton>
            <MButton Color="blue darken-1"
                     Text
                     OnClick="TableEditSave">
                保存
            </MButton>
            </MCardActions>
            </MCard>
            </MDialog>

<AddTableView ConfigID="@SearchInput.ConfigId" ShowAddTable="TableAddDialog" DbTypes="DataTypes" CloseAction="CloseAction"></AddTableView>

<PDrawer @bind-Value="ShowCode"
         Persistent AutoScrollToTop
         Width=@(MasaBlazor.Breakpoint.Mobile?"100%":"50%")
         Title="代码" 
         OnSave="()=>ShowCode=false"
         OnCancel="()=>ShowCode=false">
    <MSheet Class="pa-4 ma-0">

        <MTabs @bind-Value="_tab">
            <MTab Value="1">
              Entity代码
            </MTab>
            <MTab Value="2">Razor前端</MTab>
            <MTab Value="3">Razor后台</MTab>
        </MTabs>

         <MTabsItems @bind-Value="_tab">
             <MTabItem Value="1">
                <MTextarea AutoGrow="_autoGrow" Value="@_entityResult[0]">

                </MTextarea>
             </MTabItem>
             <MTabItem Value="2">
                <MTextarea AutoGrow="_autoGrow" Value="@_entityResult[1]">

                </MTextarea>
             </MTabItem>

            <MTabItem Value="3">
                <MTextarea AutoGrow="_autoGrow" Value="@_entityResult[2]">

                </MTextarea>
            </MTabItem>
             </MTabsItems>
        
      

      
               
        
        </MSheet>
  </PDrawer>