@page "/system/userCenter"
@using XT.Common.Extensions
@using BlazorXT.Layout
@layout MainLayout
@inherits CultureComponentBase
@attribute [Authorize]
@using XT.Common.Attributes
@attribute [Page("/system/userCenter","用户信息","fa fa-id-badge")]
<MRow Class="ma-5">
    <MCol Md="4" Sm="12">
        <MCard Class="mx-auto" MaxWidth="344" Outlined>

            <MImage Src="@PageVM.SelectUser.Avatar" Height=200 ></MImage>

            <MCardTitle>
                @PageVM.SelectUser.Account
            </MCardTitle>

            <MCardSubtitle>
                @PageVM.SelectUser.RealName
            </MCardSubtitle>

            <MCardActions>
                <MButton OnClick="() => _show = !_show" Color="green lighten-2" Text>更多</MButton>

                <MSpacer></MSpacer>

                <MButton Icon OnClick="() => _show = !_show">
                    <MIcon>@(_show ? "mdi:mdi-chevron-down" : "mdi:mdi-chevron-up")</MIcon>
                    </MButton>

                </MCardActions>
                <div style="@(!_show ? "display:none" : "")">
                    <MDivider></MDivider>
                   <MRow>
                       <MCol Cols="12">
                           <MCardText>
                               @($"手机：{PageVM.SelectUser.Phone}")
                           </MCardText>
                       </MCol>
                        <MCol Cols="12">
                        <MCardText>
                            @($"地址：{PageVM.SelectUser.Address}")
                        </MCardText>
                        </MCol>
                   </MRow>
                </div>

            </MCard>
    </MCol>

    <MCol Md="8" Sm="12" Class="mb-3">
            <MCard>
               

                <MCardText>
                    <MContainer>

                        <MTabs @bind-Value="_tab">
                            <MTab Value="1">基础信息</MTab>
                            <MTab Value="2">修改密码</MTab>
                        </MTabs>

                        <MTabsItems @bind-Value="_tab">
                            <MTabItem Value="1">
                                <MRow>
                                    <MCol Cols="12"
                                      Sm="6"
                                      Md="6">
                                        <MTextField Rules="PageVM.RequireRules"  @bind-Value="PageVM.SelectUser.RealName"
                                                Label="真实姓名"></MTextField>
                                    </MCol>
                                    <MCol Cols="12"
                                      Sm="6"
                                      Md="6">
                                        <MTextField   @bind-Value="PageVM.SelectUser.NickName"
                                                Label="昵称"></MTextField>
                                    </MCol>
                                    <MCol Cols="12"
                                      Sm="6"
                                      Md="6">
                                    <MTextField Rules="PageVM.RequireRules" @bind-Value="PageVM.SelectUser.Phone"
                                                Label="手机号码"></MTextField>
                                    </MCol>
                                    <MCol Cols="12"
                                      Sm="6"
                                      Md="6">
                                        <MTextField   @bind-Value="PageVM.SelectUser.Email"
                                                Label="邮箱"></MTextField>
                                    </MCol>

                                    <MCol Cols="12"
                                      Sm="6"
                                      Md="6">

                                        <MMenu @bind-Value="_showBirth"
                                           CloseOnContentClick="false"
                                           NudgeRight="40"
                                           Transition="scale-transition"
                                           OffsetY
                                           MinWidth="@("auto")">
                                        <ActivatorContent>
                                            <MTextField @bind-Value="PageVM.SelectUser.Birthday"
                                                        Label="出生日期"
                                                        PrependIcon="mdi-calendar"
                                                            Readonly
                                                        @attributes="context.Attrs"></MTextField>
                                        </ActivatorContent>
                                        <ChildContent>
                                            <MDatePicker @bind-Value="_birthDate"
                                                         OnInput="()=>
{
_showBirth=false;
PageVM.SelectUser.Birthday=_birthDate.ToDateTime(new TimeOnly(0,0,0));
}"></MDatePicker>
                                        </ChildContent>
                                        </MMenu>
                                        </MCol>
                                        <MCol Cols="12"
                                      Sm="6"
                                      Md="6">


                                        <MRadioGroup  Label="性别" @bind-Value="PageVM.SelectUser.Sex"
                                                  Row>
                                        <MRadio Label="@XT.Common.Enums.GenderEnum.Male.ToDescription()"
                                                Value="@XT.Common.Enums.GenderEnum.Male">
                                        </MRadio>
                                        <MRadio Label="@XT.Common.Enums.GenderEnum.Female.ToDescription()"
                                                Value="@XT.Common.Enums.GenderEnum.Female">
                                        </MRadio>
                                    </MRadioGroup>
                                </MCol>

                                   <MCol Cols="12"
                                     >

                                    <MTextField   @bind-Value="PageVM.SelectUser.Address"
                                                Label="地址"></MTextField>
                                    </MCol>

                                    <MCol Cols="12"
                                     >
                                    <MTextField  @bind-Value="PageVM.SelectUser.Remark"
                                                Label="备注"></MTextField>
                                    </MCol>

                                    <MCol Md="6" Sm="12">
                                    <MButton Rounded OnClick="PageVM.SaveUser" Color="success">
                                        <MIcon Left>mdi:mdi-update</MIcon>
                                        保存基本信息
                                    </MButton>
                                    </MCol>
                              
                               
                            </MRow>

                            
                        </MTabItem>

                        <MTabItem Value="2">
                            <MRow>
                              
                                <MCol Cols="12"
                                     >
                                    <MTextField AppendIcon="@(_show1 ? "mdi-eye" : "mdi-eye-off")"
                                                Rules="PageVM.RequireRules"
                                                Type="@(_show1 ? "text" : "password")"                                             
                                                Label="旧密码"
                                                Hint="长度至少为8"
                                                @bind-Value="PageVM.ChangePwd.PasswordOld"
                                                Class="input-group--focused"
                                                OnAppendClick="() => _show1 = !_show1">
                                    </MTextField>
                                </MCol>
                                <MCol Cols="12"
                                      >
                                    <MTextField AppendIcon="@(_show2 ? "mdi-eye" : "mdi-eye-off")"
                                                Rules="PageVM.RequireRules"
                                                Type="@(_show2 ? "text" : "password")"
                                                Label="新密码"
                                                Hint="长度至少为8"
                                                @bind-Value="PageVM.ChangePwd.PasswordNew"
                                                Class="input-group--focused"
                                                OnAppendClick="() => _show2 = !_show2">
                                    </MTextField>
                                </MCol>
                                <MCol Cols="12">
                                    <MTextField AppendIcon="@(_show3 ? "mdi-eye" : "mdi-eye-off")"
                                                Rules="PageVM.RequireRules"
                                                Type="@(_show3 ? "text" : "password")"
                                                Label="确认密码"
                                                Hint="长度至少为8"
                                                @bind-Value="PageVM.ConfirmPwd"
                                                Class="input-group--focused"
                                                OnAppendClick="() => _show3 = !_show3">
                                    </MTextField>
                                </MCol>

                                <MCol Cols="12"
                                     >
                                    <MButton Rounded Color="primary" OnClick="PageVM.ResetPwd">
                                        <MIcon Left>mdi:mdi-redo</MIcon>
                                        重置
                                    </MButton>

                                 


                                        <MButton Class="ml-6" Rounded OnClick="PageVM.SavePwd" Color="success">
                                        <MIcon Left>mdi:mdi-update</MIcon>
                                        确定
                                    </MButton>
                                    
                                </MCol>



                            </MRow>
                        </MTabItem>
                    </MTabsItems>




                </MContainer>
            </MCardText>

          
        </MCard>
    </MCol>
 </MRow>


